@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import "reset.css";

/* Colors */
:root {
  --dark1: #000000;
  --dark2: #808080;
  --light1: #ffffff;
  --light2: #f8f9fa;
  --accent1: #ffa45c;
}

body {
  background-color: var(--light2);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark1);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
}

p {
  color: var(--dark2);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.products-intro {
  text-align: center;
}

.products__text {
  margin-bottom: 3rem;
}

.products-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.products-card {
  background-color: var(--light1);
  flex: 1 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

.products-card__img {
  margin: auto;
  padding: 10px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.products-card__text {
  background-color: var(--light1);
  padding: 1rem;
}

.card__text-top {
  text-transform: uppercase;
}

.card__text-bottom {
  display: flex;
  justify-content: space-between;
}

.ct-price {
  color: var(--dark1);
}

.ct-rating i {
  color: var(--accent1);
}


/* Media queries  */
@media screen and (max-width: 880px) {
  .products-card {
    flex: 1 0 30%;
  }
  img {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .products-card {
    flex: 1 0 45%;
  }
}

@media screen and (max-width: 600px) {
  .products-card {
    flex: 1 0 95%;
  }
}
