body {
  padding: 30px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 32px;
}
.duoble-size {
  font-size: 4rem;
}
.red {
  color: red;
}
.center {
  text-align: center;
}

/* just for better looks */
.button-style {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}
