/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

#output {
  width: 80%;
}

.card__car {
  text-align: center;
  color: #fff;
  background-color: #5d5d5d;
  padding: 30px;
  border-radius: 10px;
  margin: 30px 0;  
}

.car__brand {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.car__models {
  color: black;
  background-color: #d0d0d0;
  border-radius: 10px;
  font-size: 1.2em;
  line-height: 2;
  padding: 10px;
}