body {
  margin: auto 20px;
  font-size: 20px;
}

h3 {
  color: darkcyan;
}

/* nav */
.main-nav {
  background-color: cadetblue;
  border-radius: 4px;
  display: flex;
  text-align: center;
}

.nav-item {
  padding: 14px 16px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.nav-item:hover {
  background-color: darkcyan;
  border-radius: 4px;
  text-decoration: none;
}

.nav-item:active {
  background-color: rgb(14, 117, 117);
  border-radius: 4px;
  text-decoration: none;
}
